*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./weather1.webp');
    
}
.container{
    
    width: 600px;
    margin: 100px auto;
    padding: 40px;
}
.inputs{
    
    text-align: center;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    height: 150px;
    background-color: rgb(224,190, 190);
}
.inputs input[type="text"]{
    height: 4rem;
    width: 20rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    padding: 10px;
    border: none;
    border: 2px solid black;
    border-radius: 3px ;
    margin-right: 4px;
}
.inputs input[type="submit"]{
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    background: blue;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px
}
.display{
    text-align: center;
    width: 520px;
    color: greenyellow;
}
.wrapper{
    margin: 0 9rem ;
    background-color:rgb(172,189,221);
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}
.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background: blueviolet;
    color: white;
}
.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color:rgb(245, 79, 57);
    font-size: 23px;
}
.wrapper h2 span{
    font-size: 26px;
    color:aqua ;
}
.wrapper p span{
    font-size: 25px;
    color: blue ;
}